{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }} | My Blog{% endblock %}

<div class="container">
  {% block body %}

    <div class="row">

      <div class="col-xxs-12"> 
        <h2 class="article-title">{{ this.title }}</h2> 
      </div>

      <div class="col-xxs-12">
        <p class="article-info">
         {% if this.show_author %} 
           — by <span class="post-author">{{ this.author }}</span>
         {% endif %}
         {% if this. show_date %}
           on  <span class="post-date">{{ this.pub_date }}</span>
         {% endif %}
        </p>
      </div>
      
    </div>

    <div class="row article">
      <div class="col-xxs-12 article">
        {{ this.body }}
      </div>
    </div>
     
  {% endblock %}
</div>
